
@{
    Layout = "~/Views/BookFood1stPage.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <p style="color:white">
        .
    </p>

    <p style="color:white">
        .
    </p>







</div>
